{% extends "layout.html" %}
{% block body_header %}{% endblock %}
{% block title %}Account{% endblock %}

{% block body %}
  <br />
  <div class="row">
    <div class="col-sm-4"></div>
    <div align="center" class="col-sm-4">
    <img src="{{ url_for('static', filename='sethji.png') }}" alt="SethJi" width="80%" height="80%">
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" align="center"><h1>सेठजी का हिसाब</h1></div>
  </div>

  <br />
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <form action="/account/login">
        <button type="submit" class="btn btn-info btn-lg btn-block">Login</button>
      </form>
    </div>
  </div>
{% endblock %}
