<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <!-- Meta, title, CSS, favicons, etc. -->
    <title>{% block title %}Welcome{% endblock %} | AWS Price Umbrella</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  {% endblock %}
</head>

<body>
  {% block body_header %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img width="55" height="34" src="{{ url_for('static', filename='logo.png') }}" alt="SethJi"></a>
        <a class="navbar-brand" href="/">&nbsp;&nbsp; </a>
        <!-- <a class="navbar-brand" href="/">SethJi</a> -->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      {% if 'user_details' in session %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Last Updated - {{g.last_update}}</a></li>
          </ul>
          <form class="navbar-form navbar-left" action="/sync/" method="post">
            <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-refresh" aria-hidden="true" /></button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            {% if selected_tag %}
              <li class="active"><a href="#">Filter</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ selected_tag }}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li class="disabled"><a href="#">{{ selected_tag }}</a></li>
                  <li class="divider"></li>
                  {% for tag_name in tag_keys %}
                    {% if tag_name != selected_tag %}
                      <li><a href="/report/{{ tag_name }}">{{ tag_name }}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
            <li><a href="/account/logout">Logout</a></li>
      {% else %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
          <li><a href="/account/login">Login</a></li>
      {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

    {% for message in get_flashed_messages() %}
      <div class="alert alert-info alert-dismissible" role="alert" align="center">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{ message }}</strong>
      </div>
    {% endfor %}
  {% endblock %}

  {% block body %}
    <h1>define body</h1>
  {% endblock %}
</body>

</html>
