<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <!-- Meta, title, CSS, favicons, etc. -->
    <title>{% block title %}Welcome{% endblock %} | SethJi</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-sortable.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" async></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" async></script>
    <script src="{{ url_for('static', filename='moment.min.js') }}" async></script>
    <script src="{{ url_for('static', filename='bootstrap-sortable.js') }}" async></script>
  {% endblock %}
</head>

<body>
  {% block body_header %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img width="55" height="34" src="{{ url_for('static', filename='logo.png') }}" alt="SethJi"></a>
        <a class="navbar-brand" href="/">&nbsp;&nbsp; </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Last Updated - {{g.last_update}}</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="{{ url_for('sync.sync', next=request.path ) }}" method="post">
          <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-refresh" aria-hidden="true" /></button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Filter</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ selected_tag | default('--TAG-KEY--') }}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              {% if selected_tag %}
                <li class="disabled"><a href="#">{{ selected_tag }}</a></li>
                <li class="divider"></li>
              {% endif %}
              {% for tag_name in g.tags_info %}
                {% if tag_name != selected_tag %}
                  <li><a href="{{ url_for('report.report', tag_name=tag_name, tag_value='all') }}">{{ tag_name }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
          {% if g.tags_info and g.tags_info.get(selected_tag) %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% if selected_tag_value %}{{ selected_tag_value }}{% else %}--TAG-VALUE--{% endif %}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% if selected_tag_value %}
                  <li class="disabled"><a href="#">{{ selected_tag_value }}</a></li>
                  <li class="divider"></li>
                {% endif %}
                {% if selected_tag in g.tags_info %}
                  {% if selected_tag_value != 'all' %}
                      <li><a href="{{ url_for('report.report', tag_name=selected_tag, tag_value='all') }}">all</a></li>
                  {% endif %}
                  {% for tag_value in g.tags_info[selected_tag].split(',') %}
                    {% if tag_value != selected_tag_value %}
                      <li><a href="{{ url_for('report.report', tag_name=selected_tag, tag_value=tag_value) }}">{{ tag_value }}</a></li>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </ul>
            </li>
          {% endif %}

          {% if 'user_details' in session %}
            <li><a href="/account/logout">Logout</a></li>
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

    {% for message in get_flashed_messages() %}
      <div class="alert alert-info alert-dismissible" role="alert" align="center">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{ message }}</strong>
      </div>
    {% endfor %}
  {% endblock %}

  {% block body %}
    <h1>define body</h1>
  {% endblock %}

</body>

</html>
